In [1]:
import pandas as pd

df = pd.read_csv("data_jabar.csv")
(df)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [ ]:
import pandas as pd

data_sampah_jabar = {
    "id": [1, 2, 3, 4, 5, 239, 240, 241, 242, 243],
    "kode_provinsi": [32] * 10,
    "nama_provinsi": ["JAWA BARAT"] * 10,
    "kode_kabupaten_kota": [3201, 3202, 3203, 3204, 3205, 3275, 3276, 3277, 3278, 3279],
    "nama_kabupaten_kota": [
        "KABUPATEN BOGOR", "KABUPATEN SUKABUMI", "KABUPATEN CIANJUR", 
        "KABUPATEN BANDUNG", "KABUPATEN GARUT", "KOTA BEKASI", 
        "KOTA DEPOK", "KOTA CIMAHI", "KOTA TASIKMALAYA", "KOTA BANJAR"],
    "jumlah_produksi_sampah": [1511.15, 419.01, 981.41, 1895.94, 464.74, None, None, None, None, None],
    "satuan": ["TON PER HARI"] * 10,
    "tahun": [2015, 2015, 2015, 2015, 2015, 2023, 2023, 2023, 2023, 2023]
}

df = pd.DataFrame(data_sampah_jabar)
pada_tahun = 2015

total_sampah = 0
for index, row in df.iterrows():
    if row["tahun"] == pada_tahun and pd.notnull(row["jumlah_produksi_sampah"]):
        total_sampah += row["jumlah_produksi_sampah"]
print(f"Total sampah yang di produksi di seluruh Kabupaten/Kota Jawa Barat pada tahun {pada_tahun} yaitu {total_sampah:.2f} ton/hari.")

Total sampah yang di produksi di seluruh Kabupaten/Kota Jawa Barat pada tahun 2015 yaitu 5272.25 ton/hari.

In [78]:
import pandas as pd

data = {
    "id": [1, 2, 3, 4, 5, 239, 240, 241, 242, 243],
    "kode_provinsi": [32] * 10,
    "nama_provinsi": ["JAWA BARAT"] * 10,
    "kode_kabupaten_kota": [3201, 3202, 3203, 3204, 3205, 3275, 3276, 3277, 3278, 3279],
    "nama_kabupaten_kota": [
        "KABUPATEN BOGOR", "KABUPATEN SUKABUMI", "KABUPATEN CIANJUR", 
        "KABUPATEN BANDUNG", "KABUPATEN GARUT", "KOTA BEKASI", 
        "KOTA DEPOK", "KOTA CIMAHI", "KOTA TASIKMALAYA", "KOTA BANJAR"
    ],
    "jumlah_produksi_sampah": [1511.15, 419.01, 981.41, 1895.94, 464.74, 0, 0, 0, 0, 0],
    "satuan": ["TON PER HARI"] * 10,
    "tahun": [2015, 2015, 2015, 2015, 2015, 2023, 2023, 2023, 2023, 2023]
}

df = pd.DataFrame(data)
total_produksi_sampah_per_tahun = {}

for index, row in df.iterrows():
    tahun = row["tahun"]
    jumlah_sampah = row["jumlah_produksi_sampah"]
    if jumlah_sampah is not None:  
        if tahun not in total_produksi_sampah_per_tahun:
            total_produksi_sampah_per_tahun[tahun] = 0
        total_produksi_sampah_per_tahun[tahun] += jumlah_sampah
print("Total produksi sampah per tahun di Jawa Barat:")
for tahun, total in total_produksi_sampah_per_tahun.items():
    print(f"Tahun {tahun}: {total} ton/hari")

Total produksi sampah per tahun di Jawa Barat:
Tahun 2015: 5272.25 ton/hari
Tahun 2023: 0.0 ton/hari

In [79]:
import pandas as pd

# Data sampel produksi sampah
data = {
    "id": [1, 2, 3, 4, 5, 239, 240, 241, 242, 243],
    "kode_provinsi": [32] * 10,
    "nama_provinsi": ["JAWA BARAT"] * 10,
    "kode_kabupaten_kota": [3201, 3202, 3203, 3204, 3205, 3275, 3276, 3277, 3278, 3279],
    "nama_kabupaten_kota": [
        "KABUPATEN BOGOR", "KABUPATEN SUKABUMI", "KABUPATEN CIANJUR", 
        "KABUPATEN BANDUNG", "KABUPATEN GARUT", "KOTA BEKASI", 
        "KOTA DEPOK", "KOTA CIMAHI", "KOTA TASIKMALAYA", "KOTA BANJAR"
    ],
    "jumlah_produksi_sampah": [1511.15, 419.01, 981.41, 1895.94, 464.74, None, None, None, None, None],
    "tahun": [2015, 2015, 2015, 2015, 2015, 2023, 2023, 2023, 2023, 2023]
}

df = pd.DataFrame(data)
hasil_per_kota_tahun = {}

for index, baris in df.iterrows():
    tahun = baris["tahun"]
    kota = baris["nama_kabupaten_kota"]
    produksi = baris["jumlah_produksi_sampah"]
    if produksi:
        if tahun not in hasil_per_kota_tahun:
            hasil_per_kota_tahun[tahun] = {}
        if kota not in hasil_per_kota_tahun[tahun]:
            hasil_per_kota_tahun[tahun][kota] = 0
        hasil_per_kota_tahun[tahun][kota] += produksi
print("Rekapitulasi produksi sampah per Kota/Kabupaten per tahun:")
for tahun, kota_data in hasil_per_kota_tahun.items():
    print(f"\nTahun {tahun}:")
    for kota, total in kota_data.items():
        print(f"{kota}: {total:.2f} ton/hari")

data_rekap = []
for tahun, kota_data in hasil_per_kota_tahun.items():
    for kota, total in kota_data.items():
        data_rekap.append([tahun, kota, total])

df_rekap = pd.DataFrame(data_rekap, columns=["Tahun", "Kota/Kabupaten", "Total Produksi Sampah (ton/hari)"])

df_rekap.to_csv("data_sampah_perkota.csv", index=False)
df_rekap.to_excel("data_sampah_perkota.xlsx", index=False)

Rekapitulasi produksi sampah per Kota/Kabupaten per tahun:

Tahun 2015:
KABUPATEN BOGOR: 1511.15 ton/hari
KABUPATEN SUKABUMI: 419.01 ton/hari
KABUPATEN CIANJUR: 981.41 ton/hari
KABUPATEN BANDUNG: 1895.94 ton/hari
KABUPATEN GARUT: 464.74 ton/hari

Tahun 2023:
KOTA BEKASI: nan ton/hari
KOTA DEPOK: nan ton/hari
KOTA CIMAHI: nan ton/hari
KOTA TASIKMALAYA: nan ton/hari
KOTA BANJAR: nan ton/hari